@model IEnumerable<RentaCar.Models.ReservasViewModel>
@{
    ViewBag.Title = "Agregar Reserva";
}

@if (ViewBag.Msg == "Exitoso")
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "Confirmación",
                text: "¡Se agrego exitosamente!",
                icon: "success"
            });
        }
    </script>
}

@if (ViewBag.Msg == "Eliminado")
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "Confirmación",
                text: "¡Se eliminó exitosamente!",
                icon: "warning"
            });
        }
    </script>
}

<h2>Reservas</h2>
<h5>Lista de reservas realizadas en el sistema:</h5>
<hr class="hr-custom"/>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdReserva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdVehiculo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDevolucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVehiculo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { idReserva = item.IdReserva }) |
                @Html.ActionLink("Eliminar", "Delete", new { IdReserva = item.IdReserva })
            </td>
        </tr>
    }

</table>

