@model IEnumerable<RentaCar.Models.PersonasViewModel>

@{
    ViewBag.Title = "Lista Personas";
}

@if (ViewBag.Msg == "Exitoso")
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "Confirmación",
                text: "¡Se agrego exitosamente!",
                icon: "success"
            });
        }
    </script>
}

@if (ViewBag.Msg == "Eliminado")
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "Confirmación",
                text: "¡Se eliminó exitosamente!",
                icon: "warning"
            });
        }
    </script>
}

<h2>Personas</h2>
<h5>Lista de personas registradas en el sistema:</h5>
<hr class="hr-custom" />

<div class="container" style="text-align: left; padding: 5px;">
    <a href="~/Personas/Create" class="btn btn-default">Nuevo</a>
</div>
<br />
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { pidPersona = item.IdPersona }) |
                @Html.ActionLink("Delete", "Delete", new { pidPersona = item.IdPersona })
            </td>
        </tr>
    }

</table>
